
.navbar{
  /* background-color: #0478ede3; */
  /* color: #ffff; */
  /* height: 90px;   */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* .nav-item { */
  /* font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; */
  /* text-transform: uppercase; */
  /* text-align: center; */
  /* font-weight: 600; */
/* } */

/* .nav-item * {
  box-sizing: border-box;
  transition: all .35s ease;
} */

/* .nav-item li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
} */

.nav-link {
  /* padding: .5em .8em; */
  /* color: rgba(25, 12, 39, 0.5); */
  position: relative;
  /* text-decoration: none; */
  font-size: 17px;
}

.nav-link::before,
.nav-link::after {
  /* content: ''; */
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav-link::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #1c00456f;
  border-right: 3px solid #1c00456f;
  transform: translate(-100%, 50%);
}

.nav-link:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #1c00456f;
  border-left: 3px solid #1c00456f;
  transform: translate(100%, -50%)
}

.nav-link:hover:before,
.nav-link:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

/* .nav-link:hover {
  color: #1c00456f;
} */

.bg-purple{
  background-color: blueviolet;
}
.bg-grey{
  background-color: #d6d4d4;
}

.club-main{
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.club-details{
  padding: 40px 0 20px;
}

.club h1{
    font-size: 4em;
}

.club p{
  margin-right: 0em;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .02em;
}


.image{
  width: 80%;
}


.head-decor{
  /* font-size: 2.5em; */
  text-decoration-line: underline;
  text-decoration-style: "solid";
  text-decoration-color: rgb(97, 4, 237);
  text-decoration-thickness: 8px;
  
}

.features{
  /* background-color: rgb(238, 229, 229); */
  padding: 80px 0 40px;
}

.features-list{
    display: flex;
    padding: 3em;
    gap: 1.5em;
    justify-content: space-between;
} 

.features-menu{
  /* background: #047aed; */
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
}

.feature-logo i{
  padding:1.0em 1em 1em 1em;
  border-radius: 8em;
  font-size: 2.3em;
  color: white;

  background-color: #9004ed;
}

.feature-det p{
  padding: 1.2em;
  color: rgba(13, 13, 13, 0.921);
  font-weight: 800;
  font-size: 1.1em;
}

